:root {
    --cols: 3;
}

body {
  margin: 10px 0px;
}

#board {
  display: grid;
  grid-template-columns: repeat(var(--cols), auto);
  width: 0px;
  margin-top: 75px;
  margin-left: 15px;
}

.tile, #hand {
  position: relative;
  width: 193px;
  height: 193px;
  border-radius: 0.3em;
  border: 2px solid black;
  background-color: grey;
  z-index: 0;
  padding: 0;
}

.pic {
  position: relative;
  z-index: 1;
  width: 193px;
  height: 193px;
}

.meeple {
  position: absolute;
  display: block;
  height: 48px;
  width: 48px;
  z-index: 2;
}

#token {
  position: relative;
  display: block;
  height: 48px;
  width: 48px;
  z-index: 2;
}

.btn {
  height: 32px;
  text-align: center;
  justify-content: center;
  background-color: navy;
  color: white;
}

#infoAndControls {
  display: none;
  flex-direction: row;
  width: 100%;
  height: 50px;
  background-color: pink;
  position: fixed;
  top: 10px;
  left: 0px;
  z-index: 3;
}

#display {
  display: none;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 3;
}

#games, #done {
  display: none;
}
