:root {
    --cols: 3;
}

#board {
  display: grid;
  grid-template-columns: repeat(var(--cols), auto);
  width: 0px;
}

.tile {
  position: relative;
  width: 193px;
  height: 193px;
  border-radius: 0.3em;
  border-width: 5px;
  border-color: red;
  background-color: grey;
  z-index: 0;
}

.pic {
  position: relative;
  z-index: 1;
}

#meeple {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  z-index: 2;
}
