:root {
    --cols: 3;
}

body {
  margin: 10px 0px;
  background-color: rgb(230,230,230);
}

h1 {
  font-size: 3em;
}

@font-face {
  font-family: Lindsey;
  src: url(LindsayBecker.woff);
}

#title {
  position: fixed;
  right: 2%;
  top: 0%;
  font-size: 8vw;
  font-family: Lindsey;
  color: orange;
  font-weight: bold;
  line-height: 0vh;
  -webkit-text-stroke-width: 0.01px;
  -webkit-text-stroke-color: black;
}

#splash {
  position: fixed;
  bottom: -20%;
  right: -30%;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: -1;
}

#create {
  position: fixed;
  top: 15%;
  width: 50%;
  font-family: Lindsey;
  text-align: center;
}

#startGame {
  font-family: Lindsey;
  font-size: 2em;
  border: none;
  border-radius: 0.5em;
  text-align: center;
}

#gamebtn {
  background-color: orange;
  border-radius: 0.5em;
  font-family: Lindsey;
  font-size: 2em;
  cursor: pointer;
}

#exists {
  font-size: 1.5em;
  background-color: rgb(248,90,82);
  border-radius: 0.5em;
  width: 40%;
  margin: 0.5em auto -1em auto;
  visibility: hidden;
}

.gamesAvailable {
  font-size: 2em;
  width: 40%;
  height: 1.2em;
  background-color: white;
  border-radius: 1em;
  margin: 0.5em auto;
  cursor: pointer;
}

#board {
  display: grid;
  grid-template-columns: repeat(var(--cols), auto);
  width: 0px;
  margin-top: 75px;
  margin-left: 15px;
}

.tile, #hand {
  position: relative;
  width: 193px;
  height: 193px;
  border-radius: 0.3em;
  border: 2px solid black;
  background-color: rgb(213,213,213);
  transition: background-color 1.5s;
  z-index: 0;
  padding: 0;
}

.pic {
  position: relative;
  z-index: 1;
  width: 193px;
  height: 193px;
}

.meeple, .playerToken {
  position: absolute;
  display: block;
  height: 48px;
  width: 48px;
  z-index: 2;
}

.playerToken {
  position: relative;
}

#token, #tileMarker {
  margin: 3px 0px;
  position: relative;
  display: block;
  height: 44px;
  width: 44px;
  z-index: 2;
}

.btn {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 44px;
  margin: 3px;
  align-content: center;
  justify-content: center;
  border-radius: 4px;
  background-color: navy;
  color: white;
  font-size: 20px;
  font-family: Lindsey;
  padding: 0 10px;
  cursor: pointer;
}

.tooltips {
  visibility: hidden;
  width: 150px;
  background-color: black;
  color: white;
  font-family: Lindsey;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 5;
}

.btn:hover > span {
  visibility: visible;
  top: 50px;
  left: -100%
}

#scores:hover > div {
  visibility: visible;
  left: 5px;
}

.stats {
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: Lindsey;
}

.stats .tooltips {
  font-size: 20px;
  font-weight: normal;
}

.stats:hover > span {
  visibility: visible;
  top: 50px;
  left: 5px;
}

#meeplesLeft, #tilesLeft, #score {
  display: flex;
  flex-direction: column;
  height: 44px;
  margin: 3px 3px 0px 3px;
  align-content: center;
  justify-content: center;
  color: black;
  font-size: 44px;
  font-weight: bold;
  padding-right: 10px;
  padding-left: 0px;
}

#score {
  padding-right: 3px;
  padding-left: 3px;
  font-family: Lindsey;
}

.scores {
  display: flex;
  flex-direction: row;
  color: white;
  font-size: 44px;
  font-weight: bold;
  font-family: Lindsey;
  justify-content: center;
}

#decrement, #increment {
  background-color: white;
  width: 1em;
  height: 1em;
  border-radius: 1em;
  border: solid 2px;
  text-align: center;
  font-size: 44px;
  font-weight: bold;
  font-family: Lindsey;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 10px;
  line-height: 48px;
  cursor: pointer;
  user-select: none;
}

#decrement {
  line-height: 37px;
}

#increment {
  margin-left: 0px;
  margin-right: 10px;
}

#infoAndControls {
  display: none;
  flex-direction: row;
  width: 100%;
  height: 50px;
  background-color: pink;
  position: fixed;
  top: 10px;
  left: 0px;
  z-index: 3;
}

#info, #controls {
  display: flex;
  flex-direction: row;
  width: 50%;
}

#controls {
  justify-content: flex-end;
}

#rest {
  visibility: hidden;
  width: 200px;
}

#display {
  display: none;
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 3;
}

#msga, #msgb {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 500px;
  height: 50px;
  right: -505px;
  top: 75px;
  background-color: pink;
  border-radius: 3px;
  border-color: black;
  border: solid 1px;
  font-size: 20px;
  font-weight: bold;
  font-family: Lindsey;
  transition: right 1s;
  z-index: 2;
}

#msgb {
  top: 135px;
}

.cont {
  padding-left: 5px;
  width: 290px;
}

#games, #done, #restart, #redraw {
  display: none;
}
